<div class="ui-main">
	<div class="ui-top">
		<i class="ui-top__left"></i>
		<div class="ui-top__title">参与记录</div>
		<i class="ui-top__search" v-touch:tap="searchTap"></i>
	</div>
	<div class="ui-tap">
		<div class="ui-tap__tap" v-bind:class="showIndex === 0 ? 'is-change': ''" v-touch:tap="changeTap(0)">讲座</div>
		<div class="ui-tap__tap" v-bind:class="showIndex === 1 ? 'is-change': ''" v-touch:tap="changeTap(1)">茶座</div>
	</div>
	<!-- 讲座列表 -->
	<div class="ui-list" v-show="showIndex === 0">
		<div class="ui-item" v-for="item in lectureList" :key="item.lecture.id" @click="openLectureDetail(this.item.lecture.id)">
			<div class="ui-item__info">
				<div class="ui-item__title">{{item.lectureParticipate.lecture.name}}</div>
				<div class="ui-line">
					<i class="ui-item__icon"></i>
				    <div class="ui-item__content">{{item.lectureParticipate.lecture.dateStr}}</div>
				</div>
				<div class="ui-line">
					<i class="ui-item__icon is-locationIcon"></i>
				    <div class="ui-item__content">{{item.lectureParticipate.lecture.address}}</div>
				</div>
				<div class="ui-line">
					<i class="ui-item__icon is-typeIcon"></i>
					<div class="ui-item__content">签到时间：{{item.lectureParticipate.firstParticipateTimeStr}}</div>
				</div>				
			</div>
		</div>
	</div>
	<!-- 茶座列表 -->
	<div class="ui-list" v-show="showIndex === 1">
		<div class="ui-item" v-for="item in conversationList" :key="item.Teahouse.id" @click="openTeaHouseDetail(this.item.Teahouse.id)">

            <div class="ui-item__avater" style="background-image: url({{item.Appointment.Teahouse.imageUrl}})"></div>
            <div class="ui-item__name">{{item.Appointment.Teahouse.status}}</div>

			<div class="ui-item__info">
				<div class="ui-item__title">{{item.Appointment.Teahouse.name}}</div>
				<div class="ui-line">
					<i class="ui-item__icon"></i>
				    <div class="ui-item__content">{{item.Appointment.Teahouse.createTimeStr}}</div>
				</div>
				<div class="ui-line">
					<i class="ui-item__icon is-locationIcon"></i>
				    <div class="ui-item__content">{{item.Appointment.Teahouse.address}}</div>
				</div>
				<div class="ui-line">
					<i class="ui-item__icon is-typeIcon"></i>
					<div class="ui-item__content">{{item.Appointment.Teahouse.category.name}}</div>
				</div>
				
			</div>
		</div>
	</div>
</div>