<div class="ui-main">
	<div class="ui-top">
		<i class="ui-top__left"></i>
		<div class="ui-top__title">讲座详情</div>
	</div>

    <div class="ui-content">
	<div class="ui-title">{{name}}</div>
	<div class="ui-poster" v-if="{{poster}}" style="background-image: url(http://120.77.204.252:80/{{poster}})"></div>
	<div class="ui-poster" v-else style="background-image: url('../../image/lecture/desert.jpg')"></div>
	<div class="ui-line"><em>讲座摘要： </em>{{{content}}}</div>
	<div class="ui-line"><em>时间： </em>{{dateStr}}-{{startTimeStr}}-{{endTimeStr}}</div>
	<div class="ui-line"><em>地点： </em>{{address}}</div>
    <div v-for="item in speakerLinkList">
    <div class="ui-line"><em>主讲人： </em>{{item.name}}</div>
    <div class="ui-line"><em>主讲人介绍： </em>{{item.brief}}</div>
    </div>
    <div class="ui-line"><em>面向对象： </em>{{groupOfPep}}</div>
	<div class="ui-line"><em>是否提供讲座证明： </em>{{isProved?"是":"否"}}</div>
	<div class="ui-line"><em>限制人数： </em>{{limitNumOfPep}}</div>
	<div class="ui-line"><em>所属学院： </em>{{sponsor}}</div>
	<div class="ui-line"><em>发布组织： </em>{{organization}}</div>
	<div class="ui-line"><em>讲座类别： </em>{{category.name}}</div>
    <div class="ui-interaction">
		<div class="ui-likeNum">报名人数：{{signUpNum}}</div>
    	<i class="ui-like" v-bind:class="isThumbsUp ? '' : 'is-like'" v-touch:tap="thumbsTap"></i>
    	<div class="ui-likeNum">{{thumbsUpNum}}</div>
    </div> 
    <div class="ui-btn" v-bind:class="isSignUp ?'is-grey' : ''" v-touch:tap="signTap">讲座预报名</div>
    </div>
    <div class="ui-comment" v-show="comment === 0">
        <div class="ui-comment__btn" v-touch:tap="changeCommentTap">我来说一句</div>
    </div>
    <div class="ui-report" v-show="comment === 1">
        <div class="weui-cells weui-cells_form" v-show="comment === 1">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="开始与老师互动" rows="5"></textarea>
                    <div class="weui-textarea-counter">限200字</div>
                </div>
            </div>
        </div>
        <div class="ui-report__btn" v-touch:tap="reportTap" style="margin-top: .5rem">发表评论</div>
    </div>
    
    <div class="ui-commentList">
        <div class="ui-commentItem" v-if="commentList.length == 0">
            <div style="height:30px;color:black;font-size:20px;text-align:center">暂无评论，来发言吧</div>
        </div>
        <div class="ui-commentItem" v-for="item in commentList">
            <div class="ui-commentItem__info">
                <div class="ui-commentItem__avatar" v-if="{{item.avatar}}" style="background-image: url({{item.avatar}})"></div>
                <div class="ui-commentItem__avatar" v-else="{{item.avatar}}" style="background-image: url('../../image/lecture/logo.png')"></div>
                <div class="ui-commentItem__content">
                <div class="ui-commentItem__name">{{item.student.name}}</div>
                <div class="ui-commentItem__text">{{item.commentTimeStr}}</div>
                <div class="ui-commentItem__text">#{{$index + 1}}楼</div>
                </div>
            </div>
            <div class="ui-commentItem__comment">{{item.commentContent}}</div>
        </div>
    </div>
</div>